name: stellarplugin
description: Flutter Stellar Plugin
version: 0.0.3+7
homepage: "https://github.com/malengatiger/stellar-flutter-plugin-repo"

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    androidPackage: com.boha.stellarplugin
    pluginClass: StellarpluginPlugin

